@model ChangePasswordModel
@using NetCommunitySolution.Web.Models.Customers;
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改密码</legend>
</fieldset>
<div style="padding:15px;margin:15px;">


    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <script type="text/javascript">
                    layer.open({
                        title: '修改密码'
                        , content: '修改成功'
                    });
        </script>
    }
    @{
        var validationSummary = Html.ValidationSummary(true);
    }
    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }

    @using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { @class = "layui-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <div class="layui-inline">
                @Html.NETLabelFor(model => model.OldPassword)
                <div class="layui-input-inline">
                    @Html.NETEditorFor(model => model.OldPassword)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                @Html.NETLabelFor(model => model.NewPassword)
                <div class="layui-input-inline">
                    @Html.NETEditorFor(model => model.NewPassword)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                @Html.NETLabelFor(model => model.ConfirmNewPassword)
                <div class="layui-input-inline">
                    @Html.NETEditorFor(model => model.ConfirmNewPassword)
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" class=" layui-btn layui-btn-normal" value="保存" />
            </div>
        </div>
    }
</div>
