@model NetCommunitySolution.Web.Models.Customers.SimpleCustomerModel


<div class="layui-layout layui-layout-admin">
    <div class="layui-header">

        <div class="layui-logo"><a href="@Url.Action("Index","Home")">layui 后台布局</a></div>
        <div class="search-box layui-layout-left">
            <input type="text" placeholder="关键字搜索" class="search-input" />
            <a class="layui-btn layui-btn-danger search-btn">搜索</a>
        </div>
        <ul class="layui-nav layui-layout-right customer-status" lay-filter="customer-nav">
            @if (Model.Id > 0)
            {
                <li class="layui-nav-item">
                    <a id="member-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @Model.LoginName
                        <span class="caret"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="member-item"><a>会员中心</a></dd>
                        <dd class="member-item"><a href="@Url.Action("New","Post")">发布问答</a></dd>
                        <dd class="member-item"><a>修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="@Url.Action("Logout", "Customer")">退出</a></li>
            }
            else
            {
                <li class="layui-nav-item"><a href="@Url.Action("Login", "Customer")">登录</a></li>
                <li class="layui-nav-item"><a href="@Url.Action("Register", "Customer")">注册</a></li>

            }
        </ul>
    </div>
</div>

<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.render();
    });
</script>