@model NetCommunitySolution.Web.Areas.Operate.Models.Catalog.ContentLabelModel

@Html.HiddenFor(model => model.Id)

<div class="layui-form-item">
    @Html.NETLabelFor(model => model.CategoryId)
    <div class="layui-input-block">
        @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategories)

    </div>
</div>

<div class="layui-form-item">
    @Html.NETLabelFor(model => model.Name)
    <div class="layui-input-block">
        @Html.NETEditorFor(model => model.Name)
    </div>
</div>


<div class="layui-form-item">
    @Html.NETLabelFor(model => model.Published)
    <div class="layui-input-block">
        @Html.NETEditorFor(model => model.Published)
    </div>
</div>
<div class="layui-form-item">
    @Html.NETLabelFor(model => model.DisplayOrder)
    <div class="layui-input-block">
        @Html.NETEditorFor(model => model.DisplayOrder)
    </div>
</div>

<script>
    layui.use('form', function () {
        var form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
        form.render();
    });
</script>