@model IList<NetCommunitySolution.Web.Models.Catalog.CustomerPostCommentModel>


<div class="comment-list">
    <blockquote class="layui-elem-quote">以下为灌水内容</blockquote>
    <div class="comments">
        @foreach (var item in Model)
    {
        <div class="comment post-comment">
            <div class="comment-info">
                <div class="user-avatar">
                    <img src="@item.Avatar"  width="96"/>
                </div>
                <div class="user-info">
                    <a href="@Url.Action("Detail", "Customer", new { customerId = item.CustomerId })" class="username">@(item.NickName)</a>
                </div>
            </div>
            <div class="comment-content">
                <div class="comment-body">
                    @Html.Raw(item.Comment.Content)                    
                </div>
                <div class="q_time">
                    <span>@item.Comment.CreationTime.ToString("yyyy.MM.dd HH:mm")</span>
                </div>
            </div>
        </div>
        <hr class="layui-bg-green">
}
    </div>
</div>