
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->

        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item @if (ViewBag.ActiveMenu == "Customer") { <text> layui-nav-itemed</text>}" ify-unselect>
                <a href="javascript:;">用户模块</a>
                <dl class="layui-nav-child">
                    <dd><a href="@Url.Action("Index","Customer")" @if (ViewBag.ActiveItem == "Customer-List") { <text> class="layui-this" </text> }>用户列表</a></dd>
                    <dd><a href="@Url.Action("Index","CustomerLevel")" @if (ViewBag.ActiveItem == "Customer-Level") { <text> class="layui-this" </text> }>用户级别</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item @if (ViewBag.ActiveMenu == "Setting") { <text> layui-nav-itemed</text>}" ify-unselect>
                <a href="javascript:;">配置模块</a>
                <dl class="layui-nav-child">
                    <dd><a href="@Url.Action("Common","Setting")" @if (ViewBag.ActiveItem == "Common-Setting") { <text> class="layui-this" </text> }>公共配置</a></dd>
                    <dd><a href="@Url.Action("CustomerSetting","Setting")" @if (ViewBag.ActiveItem == "Customer-Setting") { <text> class="layui-this" </text> }>用户配置</a></dd>
                    <dd><a href="@Url.Action("PostSetting","Setting")" @if (ViewBag.ActiveItem == "Post-Setting") { <text> class="layui-this" </text> }>帖子配置</a></dd>
                    <dd><a href="@Url.Action("MediaSetting","Setting")" @if (ViewBag.ActiveItem == "Media-Setting") { <text> class="layui-this" </text> }>媒体配置</a></dd>
                    <dd><a href="@Url.Action("RewardSetting","Setting")" @if (ViewBag.ActiveItem == "Reward-Setting") { <text> class="layui-this" </text> }>积分配置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item @if (ViewBag.ActiveMenu == "Catalog") { <text> layui-nav-itemed</text>}">
                <a href="javascript:;">类目管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="@Url.Action("Index","Catalog")" @if (ViewBag.ActiveItem == "Catalog-List") { <text> class="layui-this" </text> }>类目列表</a></dd>
                    <dd><a href="@Url.Action("Index","ContentLabel")" @if (ViewBag.ActiveItem == "Catalog-Label") { <text> class="layui-this" </text> }>标签列表</a></dd>
                    <dd><a href="@Url.Action("Index","Post")" @if (ViewBag.ActiveItem == "Catalog-Post") { <text> class="layui-this" </text> }>帖子列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>
</div>